<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiens.chinads.commonaop">

    <application>
        <activity
            android:name=".util.PermissionUtils$PermissionActivity"
            android:theme="@style/OnePxActivityStyle"
            />
    </application>
</manifest>